ipython
numpy
pydantic
uvicorn
fastapi
gunicorn
requests
pyudev
python-multipart
websockets
sqlalchemy
singleton-decorator
orjson
aiomultiprocess
pre-commit
pandas
pyqtgraph
pyqt6
pyopengl
mediapipe
setuptools
aniposelib
protobuf
pytest
taskipy
pytest-cov
pyinstaller
pyinstaller-hooks-contrib
black[d]
mkdocs-material
qtconsole
qtpy
rich
skellycam